/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Hind Siliguri", sans-serif;
  color: #212529;
  line-height: 1.5;
  background-color: #fff;
}
/* start header */
header {
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
header .navbar-brand {
  color: #fff;
  font-size: 36px;
}
header .navbar-brand i {
  font-size: 45px;
  color: #35a22c;
}
#navbarHeader .nav-item {
  margin: 0 10px;
  position: relative;
}
#navbarHeader .nav-item::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #35a22c;
  transition: all 0.5s;
}
#navbarHeader .nav-item:hover::after {
  width: 100%;
}
#navbarHeader .nav-link {
  color: #fff;
  transition: all 0.5s;
}
#navbarHeader .nav-link:hover {
  color: #35a22c;
}
#navbarHeader .nav-item.active .nav-link {
  color: #35a22c;
}
#navbarHeader .nav-item.active::after {
  width: 100%;
}
/* end header */
/* start carousel */
#carouselPortfolio {
  position: relative;
}
#carouselPortfolio::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.4);
  z-index: 1;
}
#carouselPortfolio .carousel-item {
  position: relative;
}

#carouselPortfolio .carousel-item img {
  height: 100vh;
  /* width: 100%; */
}
#carouselPortfolio .carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
#carouselPortfolio .carousel-caption img {
  width: auto;
  height: 140px;
  border-radius: 50%;
  margin: auto;
}
#carouselPortfolio .carousel-caption h5 {
  font-size: 56px;
  line-height: 65px;
}
#carouselPortfolio .carousel-caption p {
  font-size: 24px;
}
#carouselPortfolio .carousel-indicators {
  bottom: 10%;
}
#carouselPortfolio .carousel-indicators li {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: none;
}
#carouselPortfolio .carousel-indicators li.active {
  background-color: #35a22c;
}
/* end carousel */
/* start project */
#projectPortfolio .project__title {
  padding: 0 180px;
}
#projectPortfolio .project__title h2 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
  color: #1a1d2d;
}
#projectPortfolio .project__title p {
  color: #585858;
  line-height: 24px;
}
#projectPortfolio .project__list .nav {
  justify-content: center;
}
#projectPortfolio .project__item .card {
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
#projectPortfolio .project__item .card-text {
  font-size: 20px;
  margin-bottom: 8px;
}
#projectPortfolio .project__item .card-body span {
  margin-bottom: 16px;
  color: #585858;
  display: inline-block;
}
#projectPortfolio .nav-pills .nav-link {
  border: 1px solid #1a1d2d;
  color: #1a1d2d;
  margin: 0 5px;
}
#projectPortfolio .nav-pills .nav-link.active {
  background-color: #35a22c;
  color: #fff;
  border: 1px solid #35a22c;
}
#projectPortfolio .project__item p {
  transition: all 0.3s;
}
#projectPortfolio .project__item .card-body {
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 16px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top: none;
}
#projectPortfolio .card:hover .card-body {
  border-color: #35a22c;
}
#projectPortfolio .card:hover p {
  color: #35a22c;
}
/* end project */
/* start feature */
#featurePortfolio {
  background: url(../image/3.jpg);
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 120px;
  color: white;
  text-align: center;
  position: relative;
}
#featurePortfolio .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(7, 10, 12, 0.72);
  position: absolute;
  top: 0;
  left: 0;
}
.feature__title {
  padding: 0 90px;
}
.feature__title h2 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
}
.feature__content i {
  font-size: 48px;
  color: #35a22c;
  font-weight: 900;
}
.feature__content h4 {
  font-size: 20px;
  list-style: 30px;
  padding-top: 25px;
  font-weight: 800;
}
#featurePortfolio.feature__content p {
  padding-top: 15px;
  font-size: 16px;
  line-height: 24px;
}
.feature__item {
  padding: 40px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.5s;
}
.feature__item:hover {
  background-color: black;
  border: 1px solid white;
}
/* end feature */
/* start award */
.award {
  padding: 70px 0;
  position: relative;
}
.award__bg {
  background-image: url(../image/memphis_3.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.award__left {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  padding: 45px;
  margin-right: 60px;
}
.award__left h2 {
  font-size: 30px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}
.award__left p {
  line-height: 24px;
}
.award__right {
  padding: 45px 0;
  transform: translateX(-10%);
}
/* end award */
/* start footer */
footer {
  padding: 48px 0;
  background: #222;
  color: #aaa;
}
.footer__media a {
  margin-right: 10px;
}
.footer__media i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #454545;
  color: #aaa;
  transition: all 0.3s;
}
.footer__media a:hover i {
  color: #35a22c;
  border-color: #35a22c;
}
.footer__copy {
  border-top: 1px solid #454545;
  padding-top: 30px;
  margin-top: 30px;
}
.footer__copy a {
  color: #aaa;
  text-decoration: none;
}
.footer__copy a:hover {
  color: #35a22c;
}
/* end footer */
